<div class="container">
  <mat-card class="detail-user-card">
    <mat-card-header class="card-header">
      <mat-card-title class="title-container">Détail Admin</mat-card-title>
    </mat-card-header>
    <mat-divider class="card-divider"></mat-divider>
    <mat-card-content [formGroup]="AdminDetailFormGroup">
      <input type="hidden" formControlName="idEntreprise">
      <input type="hidden" formControlName="id">
      <div class="form-row">
        <mat-form-field appearance="outline">
          <mat-label>Nom</mat-label>
          <input matInput formControlName="nom" readonly>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Prénom</mat-label>
          <input matInput formControlName="prenom" readonly>
        </mat-form-field>
      </div>
      <div class="form-row">
        <mat-form-field appearance="outline">
          <mat-label>Téléphone</mat-label>
          <input matInput type="number" formControlName="telephone" readonly>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
            <input matInput formControlName="email" readonly>
        </mat-form-field>
      </div>
      <div class="form-row">
        <mat-form-field appearance="outline">
          <mat-label>Login</mat-label>
          <input matInput formControlName="username" readonly>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Mot de Passe</mat-label>
          <input matInput formControlName="password" readonly>
        </mat-form-field>
      </div>
      <div class="form-row">
        <mat-form-field appearance="outline">
          <mat-label>Département</mat-label>
            <input matInput formControlName="departement" readonly>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Quota Admin</mat-label>
            <input matInput pattern="[0-9]*" inputmode="numeric" formControlName="quotaAdmin" readonly>
        </mat-form-field>
      </div>
      <div class="form-row">
        <mat-form-field appearance="outline">
          <mat-label>Etat</mat-label>
          <input matInput formControlName="etat" readonly>
        </mat-form-field>

      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="navigateToListEntreprise()" color="primary">Retour</button>
    </mat-card-actions>
  </mat-card>
</div>
