<!--
<h1 mat-dialog-title>Confirmation de suppression</h1>
<div mat-dialog-content>
  <p>Êtes-vous sûr de vouloir supprimer cette utilisateur ?</p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Annuler</button>
  <button mat-button color="warn" (click)="onConfirm()">Supprimer</button>
</div>
-->
<h1 mat-dialog-title class="dialog-title">Confirmation de suppression</h1>
<div mat-dialog-content class="dialog-content">
  <p>Êtes-vous sûr de vouloir supprimer cet utilisateur ?</p>
</div>
<div mat-dialog-actions class="dialog-actions">
  <button mat-button (click)="onCancel()" class="cancel-button">Annuler</button>
  <button mat-button color="warn" (click)="onConfirm()" class="confirm-button">Supprimer</button>
</div>
