<h1 mat-dialog-title class="dialog-title">Confirmation de suppression</h1>
<div mat-dialog-content class="dialog-content">
  <p>Êtes-vous sûr de vouloir supprimer cette entreprise ?</p>
  <p>Attention : La suppression de cette entreprise entraînera également la suppression de tous les administrateurs et utilisateurs associés.</p>
</div>

<div mat-dialog-actions class="dialog-actions">
  <button mat-button (click)="onCancel()" class="dialog-actions">Annuler</button>
  <button mat-button color="warn" (click)="onConfirm()" class="dialog-actions">Supprimer</button>
</div>
