.container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.user-list-card {
  width: 100%;
  max-width: 1200px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.card-header {
  background-color: #E6EBF3;
  color: black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 20px;
  text-align: center;
}

.card-divider {
  margin: 0;
}

.title-container {
  font-size: 1.5rem;
  font-weight: bold;
}

mat-card-content {
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th.mat-header-cell, td.mat-cell {
  padding: 16px;
  text-align: left;
}

th.mat-header-cell {
  background-color: #E6EBF3;
}

.action-buttons {
  display: flex;
  gap: 8px; /* Adds space between the action buttons */
}

mat-paginator {
  margin-top: 20px;
}
